html{
    text-align: center;
    font-family: sans-serif;
}


/*header*/
header{
    display: flex;
    align-items: center;
    text-align: left;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    flex-wrap: wrap;
    z-index: 5;
}
header h2{
    background-color: transparent;
    flex:1;
    margin-left: 30px;
}
header a{
    margin-left: 5px;
    margin-right: 5px;
    color: red;
    background-color: silver;
    border:1px solid white;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    height:auto;
}

@media screen and (max-width: 760px){
    header a{
        display: none;
    }
    header{
        text-align: center;
    }
}

/*hero*/
#hero{
    background-image: url(../Bench-press-works-tricep-scaled.webp);
    background-size: cover;
    background-position: center;
    height: 500px;
}
#hero h1{
    padding-top: 100px;
    font-size:60px;
    color: white;
}
.join{
    background-color: silver;
    width: 200px;
    height: 100px;
    margin: 0 auto;
    border-radius: 10px;
    border:3px solid black;
}
.join:hover{
    background-color: #777777;
}
.join h3{
    padding:20px;
    color: black;
    
}
#hero a{
    text-decoration: none;
}

/*about us*/
#about-us{
    background-color: #bbbbbb;
    padding: 10px;
    margin:0;
}
h2{
    background-color: #aaaaaa;
}
#about-us h2{
    margin: 0;
}
#about-us p{
    line-height: 1.4;
}
.testimonials{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.testimony{
    background-color: #ffffff;
    padding:10px;
    margin: 10px;
    width:300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media screen and (max-width: 480px){
    #about-us p{
        line-height: 1.2;
    }
}

/*membership*/
#membership{
    background-color: #bbbbbb;
    padding:10px;
    margin-top: 10px;
}
#membership h2{
    margin: 10px auto;
}

.requirements, .benefits{
    background-color: #777777;
    display: flex;
    margin:10px;
    justify-content: space-around;
}
.requirement, .benefit{
    background-color: #FFFFFF;
    margin: 10px 5px;
    width: 300px;
}

@media screen and (max-width: 760px){
    .requirements, .benefits{
        flex-wrap: wrap;
    }
}

/*events*/
#events{
    background-color: #bbbbbb;
    padding: 10px;
    margin-top: 10px;
}
.event-container{
    background-color: #777777;
    display: flex;
    justify-content: center;
}
.event{
    margin: 10px 5px;
    background-color: white;
    width: 200px;
}

@media screen and (max-width: 760px){
    .event-container{
        flex-wrap: wrap;
    }
}

footer{
    color: white;
    background-color: black;
    margin: 0;
    padding:10px;
}

